* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.login-box-wrapper {
    width: 400px;
    height: 500px;

    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 50px rgb(212, 93, 255);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.register-text {
    margin-bottom: 30px;

    text-align: center;
    font-size: 25px;
    font-family: 'Arial Black', 'Arial', sans-serif;
    color: white;
    height: 50px;
    width: 160px;

}

.input-box-wrapper {
    background-color: rgb(9, 9, 9);
    padding: 5px 10px;
    
    height: 35px;
    width: 340px;

    font-family: 'arial', sans-serif;
    font-weight: 20px;
    color: rgb(255, 255, 255);

    border: none;
    border-radius: 50px;

}

.register-button {
    background-image: linear-gradient(20deg, rgb(168, 38, 255), rgb(146, 37, 255));

    height: 40px;
    width: 150px;

    margin-top: 30px;

    font-family: 'Arial Black', 'Arial', sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);

    border-radius: 20px;
    border: none;
    cursor: pointer;
}


.comment-text {
    margin-top: 10px;

    text-align: center;
    color: rgb(83, 83, 83);
    font-size: 14px;
    font-family: 'arial', sans-serif;

    height: 20px;
    width: 340px;
}


#submitButton {
  cursor: pointer;
}
#submitButton:hover {
  background-color: #ff0050;
  color: white;
}
